.App {
  max-width: 360px;
  margin: auto;
}
h1 {
  text-align: center;
}
iframe {
  display: block;
  margin: auto;
  border: none;
}
.preview {
  height: 202px;
  margin: 0 auto 20px;
  background-color: lightblue;
}
.thumbs {
  max-width: 320px;
  margin: auto;
}
.thumb {
  margin: 1px;
}
